/* em is relative to the parent's font size */
/* rem is relative to the root's font size - html */

/* :root {
    font-size: 8px;
} */

html {
    font-size: 24px;
}

body {
    font-size: 48px;
}

.typography {
    margin-top: 160px;
    text-align: center;

    font-size: 2rem;
    font-weight: 900;
    /* font-style: italic; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Roboto, Arial;
}

.styled-div {
    font-size: 2rem;
}